/*
============
font
============
*/
@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Snippet&display=swap");

/*
============
variables
============
*/
:root {
  --color-one: rgb(255, 81, 0);
  --color-two: rgb(5, 0, 0);
  --color-three: rgb(116, 115, 115);
  --color-four: #f7f7f7;
  --color-five: #000000;
  --ff: "Snippet", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
}

/*
============
global 
============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  color: var(--color-five);
  background: var(--color-four);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 2;
}

img {
  width: 100%;
  display: block;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 3px solid var(--color-one);
  color: var(--color-one);
  margin: 3rem;
  transition: var(--transition);
}

.btn:hover {
  color: var(--color-four);
  background: var(--color-two);
  border: 3px solid var(--color-five);
}

/*
============
navbar
============
*/
.menu-center {
  background: var(--color-three);
  padding: 0 2rem;
}

.menu-center li {
  list-style: none;
}

.menu-center li a {
  color: var(--color-one);
  display: block;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 1rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}

.menu-center li a:hover {
  color: var(--color-two);
}

@media screen and (min-width: 992px) {
  .menu-center ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .menu-center a {
    text-align: center;
  }
}

/*
============
header
============
*/
.header {
  background: var(--color-one);
  color: var(--color-four);
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.banner-center p {
  font-size: 1rem;
  width: 80%;
  max-width: 560px;
  /* letter-spacing: var(--spacing); */
}

@media screen and (max-width: 600px) {
  .banner-center {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 768px) {
  .header {
    background: linear-gradient(rgba(255, 81, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("../images/image-1.jpeg") center/cover no-repeat fixed;
  }
}

/*
============
cards
============
*/
.title {
  text-align: center;
  margin: 2rem;
  margin-bottom: 0;
}
.cards-center {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
  column-gap: 2rem;
}

.card {
  border: 1px solid var(--color-three);
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.img-container {
  height: 20rem;
}

.card-img {
  object-fit: cover;
  height: 100%;
}
.card-info {
  padding: 1rem;
}

.card-info p {
  letter-spacing: var(--spacing);
}

.card-footer {
  background: var(--color-three);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  color: var(--color-one);
  padding: 0.25rem 0.5rem;
}

/*
============
tiles
============
*/
.tiles {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  row-gap: 2rem;
}

.tiles img{
  height: 100%;
}

@media screen and (min-width: 768px) {
  .tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .tiles {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1170px) {
  .tiles {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-areas:
      "a a a b"
      "a a a c"
      "d d d d"
      "e f f f"
      "e g h i";
  }

  .tile1 {
    grid-area: a;
  }

  .tile2 {
    grid-area: b;
  }

  .tile3 {
    grid-area: c;
  }
  .tile4 {
    grid-area: d;
  }

  .tile5 {
    grid-area: e;
  }
  .tile6 {
    grid-area: f;
  }

  .tile7 {
    grid-area: g;
  }

  .tile8 {
    grid-area: h;
  }

  .tile9 {
    grid-area: i;
  }
}
